
body {
    font-family: Arial, sans-serif;
   /* background-color: black;*/
   background-image: url(20230806.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    background:rgb(202, 202, 142);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    
}

.container .sortfil label {
    font-size: 1.2em;

}

h1 {
    color:solid rgb(0, 0, 0);
    margin-top: 0 px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

form input, form select, form button {
    font-size: 1em;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li.completed {
    text-decoration: line-through;
    color: #0b0a0a;
}

button {
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.complete {
    background-color: #15bf3d;
    color: #fff;
}

button.delete {
    background-color: #dc3545;
    color: #fff;
}

button.complete:hover {
    background-color: #011e08;
}

button.delete:hover {
    background-color: #f0071e;
}

.notification {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.error {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}


